@font-face {
  font-family: 'impact';
  src: url('../fonts/Impact/impact.eot');
  src: url('../fonts/Impact/impact.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Impact/impact.otf') format('otf'),
       url('../fonts/Impact/impact.svg#impact') format('svg'),
       url('../fonts/Impact/impact.ttf') format('truetype'),
       url('../fonts/Impact/./impact.woff') format('woff'),
       url('../fonts/Impact/impact.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Regular.otf') format('otf'),
       url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Bold.otf') format('otf'),
       url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}