$font-impact: 'impact', sans-serif;
$font-roboto-regular: 'roboto-regular', sans-serif;
$font-roboto-bold: 'roboto-bold', sans-serif;

$body-base: #F0F0F0;
$color-gray: #C0C3C9;
$color-wild: #F6F6F6;
$color-white-scale: rgba(255, 255, 255, 0.30);
$color-white: #fff;
$color-dark-blue: #212937;
$color-typography-form: #9BA1AB;
$primary-dark-active: #2B3545;
$primary-dark-hidden: #354051;
$color-lime-green: #46CA43;
$color-slider-range: #414D60;
$color-disabled-grey: #8A98AD;