.select2 {
  &-dropdown {
    border: none;
    background-color: $primary-dark-hidden;
  }
  &-results {
    &__option {
      padding: 20px;
      background-color: $primary-dark-active;
      color: $color-gray;
    }
  } 
}

.select2-selection__arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  svg {
    fill: $color-white;
  }
}

.select2-container {
  &--active {
    .select2-selection__arrow {
      background-color: $primary-dark-active;
      &::before {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        width: 38px;
        height: 24px;
        transform: translate(-38px, 0);
        background: linear-gradient(270deg, $primary-dark-active 28.13%, rgba(43, 53, 69, 0.00) 100%);
      }
    }
  }
  &--disabled {
    .select2-selection__arrow {
      svg {
        opacity: .3;
      }
    }
  }
}

.select2-results__option--selected {
  color: $color-gray;
  background-color: $color-dark-blue;
}

.select2 {
  display: block;
  border-radius: 4px;
  
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-container {

    &--custom {
      background-color: $primary-dark-hidden;
      &.select2-container--disabled {
        background-color: $primary-dark-active;
      }
      &.select2-container--active {
        background-color: $primary-dark-active;
      }
    }

    .select2-selection--single {
      height: 56px;
      padding: 16px 20px;
    }
    &--default {
      .select2-selection--single {
        height: auto;
        background-color: transparent;
        border: none;
        border-radius: 0;
        .select2-selection__rendered {
          color: $color-white-scale;
          font-family: $font-roboto-regular;
          @include base-fonts(16px, 24px);
        }
      }
      &.select2-container--disabled .select2-selection--single {
        background-color: transparent;
        border: none;
        border-radius: 0;
      }
      &.select2-container--disabled .select2-selection--single {
        .select2-selection__placeholder {
          color: $color-white-scale;
        }
      }
      .select2-selection--single .select2-selection__rendered {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .select2-selection--single .select2-selection__placeholder {
        font-family: $font-roboto-regular;
        color: $color-gray;
      } 
    }
  }
}