body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $body-base;
  color: $color-gray;
  font-family: $font-impact;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  &__form {
    width: 100%;
    border-radius: 10px;
    background-color: $color-dark-blue;
    &-title {
      padding: 0 20px;
      @include base-fonts(26px, 45px);
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  @media screen and (min-width: 374px) {
    &__form {
      width: 350px;
    }
  }
}